<h2>This is page with users list</h2>

<% @users.each do |user|%>
    <% if user.role?%>
    <p><span class="role"><%= user.email %></span> has <span class="role red"><%= user.role %></span> role</p>
    <% else %>
        <p><span class="role"><%= user.email %></span> has <span class="red">no</span> role</p>
        <% end %>
<% end %>
<p class="role" >asa <% if current_user.role %>
        <span class="red"><%= current_user.role %></span>
      <% else %>
        <span class="red"><%=  current_user.email  %></span>
        <% end %></p>