<%= form_for @manufacture, html: {class: 'add-manufacture-form'} do |m| %>

    <% if @manufacture.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibitet this product for being saved: </h2>
        </div>
        <ul>
          <% @product.errors.full_messages.each do |msg|  %>
              <li><%= msg %><% end %></li>
        </ul>
    <% end %>

    <p><%= m.label :title %>: <%= m.text_field :title %></p>
    <p><%= m.label :description %>: <%= m.text_field :description %></p>

    <p><%= m.submit %></p>

<% end %>