<h2>Hello this is manufacture page</h2>

<% @prods_from_manuf.each do |prod| %>
    <div class="prod-by-manufacture-item">
        <h3><%= prod.name %></h3>
        <%= image_tag prod.image %>
        <p><%= prod.description %></p>
        <p><%= prod.color %></p>
        <p class="price"><%= prod.price %></p>
    </div>

<% end %>