<nav>
  <ul>
    <li><%= link_to "all products", products_path %></li>
    <li><%= link_to "categories", categories_path %></li>
    <li><%= link_to "manufactures", manufactures_path %></li>
    <li><%= link_to "new product", new_product_path %></li>
  </ul>
  <div class="login">
      <% if signed_in? %>
      <span>hello <%= current_user.email %></span>
        <%= link_to "exit", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "login", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>
      <% end %>
  </div>
  <div class="clear"></div>
</nav>