<% @products.each do |p| %>

    <ul class="products-list">
      <h3><%= link_to p.name, product_path(p) %></h3>
      <li class="list-image"><%= image_tag p.image%></li>
      <li>Manufacture by: <%= link_to p.manufacture.title, manufacture_path(p.manufacture) %></span></li>
      <li>Category: <%= link_to p.category.title, category_path(p.category) %></li>
      <li class="color">Color: <span><%= p.color %></span></li>
      <li class="price">Cost: <span><%= p.price %></span></li>
      <li class="sku">SKU: <span><%= p.sku %></span></li>
      <li class="description">Description: <span><%= p.description %></span></li>
    </ul>

<% end %>