<h3>This is <span><%= @product.name %> page</span></h3>

<% @product.pictures.each do |prod_pic|%>
    <%  if prod_pic.image.exists? %>
        <%= image_tag prod_pic.image, class: "product-image #{prod_pic.id}" %>
    <% else %>
        <image src="./app/assets/images/missing.jpg" />
    <% end %>
<% end %>
<p class="<%= @product.category.title%>">Category: <%= @product.category.title %></p>
<p>Color: <%= @product.color %></p>
<p>Manufacture: <%= @product.manufacture.title %></p>
<p>Cost: <span class="red"><%= @product.price %></span></p>
<p>Description: </p>
    <p class="description"><%= @product.description %></p>
<% if can? :update, @product%>
    <%= link_to "edit", edit_product_path %>
<% end %>
<% if can? :delete, @product%>
    <%= link_to "delete", product_path, method: :delete, data: {confirm: 'are you sure?'} %>
<% end %>