<h3>This is <span><%= @product.name %> page</span></h3>

<%= image_tag @product.image, class: "product-image #{@product.id}" %>
<p class="<%= @product.category.title%>"><%= @product.category.title %></p>
<p><%= @product.color %></p>
<p><%= @product.manufacture.title %></p>
<% if can? :update, @product%>
    <%= link_to "edit", edit_product_path %>
<% end %>