<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "all products", products_path %></li>
        <li><%= link_to "categories", categories_path %></li>
        <li><%= link_to "manufactures", manufactures_path %></li>
        <% if can? :create, @product %>
            <li><%= link_to "new product", new_product_path %></li>
        <% end %>
        <li><%= link_to "see all users", users_path %></li>
        <% if @cart != nil  %>
            <li><%= link_to "see cart", cart_path(session[:cart_id]) %></li>
        <% end %>
        <li><%= link_to "see orders", orders_path %></li>
        <% if $counter > 5 %>
            <li><%= $counter %></li>
            <% end %>
        </ul>
  </div>

  <div class="clear"></div>
</nav>