<!DOCTYPE html>
<html>
<head>
  <title>Shop tech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-0">
        <div class="login">
          <% if signed_in? %>
              <span>hello <%= current_user.email %></span>
              <%= link_to "edit profile", edit_user_registration_path %> |
              <%= link_to "exit", destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to "login", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "products/nav" %>
      <div class="row">
    <div class="container">
          <% flash.each do |name, msg| -%>
            <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
              <%= content_tag :span, msg, class: name %>
            </div>
          <% end -%>

        <%= yield %>

      </div>
    </div>

</body>
</html>
